<h1>Sign Up</h1>

<form action="/sign-up" method="POST">
  <label for="input-username">Username</label>
  <input type="text" id="input-username" name="username" placeholder="Your Username" />
  <label for="input-name">Name</label>
  <input type="text" id="input-name" name="name" placeholder="Your name" />
  <label for="input-password">Password</label>
  <input type="password" name="password" id="input-password" placeholder="A Strong Password" />
  <button>Sign Up</button>
</form>